
/**
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * "messenger-plugin" custom CSS classes
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

/**
 * Text that appears as link
 */
a.text-link {
    color: #1564c2; /* Should be identical to "main.css:92" ! */
}


.dialog-info {
    /* No changes made to dialog */
}

.dialog-warning {
    border: 2px double orange;
}

.dialog-critical {
    border: 2px double red;
}
