
/**
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * "messenger-plugin" custom CSS classes
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

/**
 * Text that appears as link
 */
a.text-link {
    color: #1564c2; /* Should be identical to "main.css:92" ! */
}


.dialog-info {
    background: #f2f3f5;
    color:      #1564c2;
}

.dialog-warning {
    background: blue;
    color:      green;
}

.dialog-critical {
    background: red;
    color:      yellow;
}